HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Logs e Arquivos Temporários ###
*.log
logs/
temp/

### Sistema Operacional (Windows/Mac) ###
.DS_Store
Thumbs.db
Desktop.ini

### SEGURANÇA (Obrigatório para não vazar chaves) ###
.env
.env.local
# Ignora arquivos de propriedades locais que contenham senhas
application-secret.properties
application-dev.properties
# Caso você gere chaves ou certificados
*.key
*.pem